<div id="about-us">
  <div class="wrapper">
    <h1>About Us</h1>
  </div>
  <div class="wrapper">
    <div class="paragraph">
      For the past 20 years Kidz Kamp has enriched the lives of many children, and families by providing high-quality summer and after school care for children in San Diego and its surrounding communities. The Kidz Kamp program is located at Doyle Park and Recreation in La Jolla just two blocks from the UTC mall.

      Kidz Kamp is an independently run program through the City of San Diego and Doyle Park Recreation Council. Many of the staff, and volunteers past and present attended camp or had friends or family who attended as young children.

      Kidz Kamp prides itself on instilling kids with positive values, promoting good health, exercise, and respect for others. The high standard it holds its participants and staff to has helped make it one of the best childcare programs in the San Diego area.
    </div>
  </div>
</div>
