// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: Playtime;
  src: url("Playtime.otf") format("opentype");
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

strong, h1 {
  color: black;
}

#social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 130px;
  background-color: #F1E20C;
  position: absolute;
  right: 0;
  top: 15%;
  border-radius: 10px;
  #top-diag {
    border-radius: 10px;
    background-color: #F1E20C;
    z-index: -1;
    padding: 40px;
    position: absolute;
    top: -14px;
    right: -28px;
    transform: rotate(-20deg);
  }
  #bot-diag {
    border-radius: 10px;
    background-color: #F1E20C;
    z-index: -1;
    padding: 40px;
    position: absolute;
    bottom: -13px;
    right: -27px;
    transform: rotate(20deg);
  }
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", "Arial", sans-serif;
  color: #1E1E1E;
  margin: 0;
  overflow: hidden;
  .container {
    max-height: 100%;
    height: 100%;
    width:  85%;
    background-color: #007CA5;
    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      nav {
        font-family: Playtime;
        font-size: 1.8em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          text-decoration: none;
        }
        #logo {
          width: 500px;
          height: 150px;
        }
      }
      .carousel {
        width: 80%;
        height: 100%;
        position: relative;
        border: 5px solid black;
        .carousel-img{
          min-width: 480px;
          min-height: 320px;
          overflow: hidden;
        }
      }
      #join-fun {
        font-size: 3em;
        font-weight: bolder;
        font-stretch: expanded;
      }
    }
    footer {
      display: flex;
      justify-content: center;
      letter-spacing: 1.5px;
      padding: 10px;
    }
  }
}

#about-us {
  border: 5px solid black;
  background-color: white;
  width: 90%;
  .title {
    display: flex;
    justify-content: center;
  }
  .paragraph {
    padding: 0.8em;
    line-height: 1.7;
  }
  .about-us-pic {
    float: right;
  }
}

#forms {
  border: 5px solid black;
  background-color: white;
  width: 90%;
  .title {
    display: flex;
    justify-content: center;
  }
  .forms-pic {
    float: right;
  }
  ul {
    display: inline-block;
    li {
      padding: 1em;
    }
  }
}
