// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: Playtime;
  src: url("Playtime.otf") format("opentype");
}

body {
  display: flex;
  justify-content: center;
  .container {
    height: 100%;
    width:  90%;
    background-color: #007CA5;
    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      nav {
        font-family: Playtime;
        font-size: 1.8em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        #logo {
          width: 500px;
          height: 150px;
        }
      }
      .carousel {
        width: 92%;
        height: 100%;
        position: relative;
        .carousel-img{
          min-width: 480px;
          min-height: 320px;
          overflow: hidden;
        }
      }
      #join-fun {
        font-size: 3em;
        font-weight: bolder;
        font-stretch: expanded;
      }
    }
    footer {
      display: flex;
      justify-content: center;
      letter-spacing: 1.5px;
      padding: 10px;
    }
  }
}
